* {
  font-family: Roboto;
}

.header {
  background-color: #2e85ff;
  color: #9DC6FF;
  height: 100px;
  width: auto;
  text-align: center;
}

.content {
  text-align: center;
  background-color: #6998ff;
  color: #0150FF;
  display: grid;
  padding: 10px;
  font-weight: 900;
}

.name {
  background-color: #8fabff;
  color: #285EFF;
}

.id {
  background-color: #aebfff;
  color: #486FFF;
}

.class {
  background-color: #cbd4ff;
  color: #6580FF;
}

.astericks {
  background-color: #e5e9ff;
  color: #7F93FF;
}

footer {
  color: red;
}
